<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Web Timer</title>
</head>
<body>
    <!--TODO: Use minified version-->
    <link href="/modules/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/resources/css/common.css" rel="stylesheet"/>

    <script src="/modules/jquery/jquery.js"></script>

    <script src="/modules/bootstrap/js/bootstrap.js"></script>
    <script src="/modules/vue/vue.js"></script>
    <script src="/modules/vue-router/vue-router.js"></script>

    <script src="/components/watch.js"></script>
    <script src="/components/banner.js"></script>
    <script src="/components/audio-list.js"></script>
    <script src="/components/time-switch.js"></script>
    <script src="/components/stopwatch.js"></script>
    <script src="/components/timer.js"></script>
    
    <div id="app">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <router-link class="nav-link" to="/stopwatch" active-class="active">Stopwatch</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/timer" active-class="active">Timer</router-link>
            </li>
        </ul>

        <div class="mt-2">
            <router-view></router-view>
        </div>
    </div>

    <script>
        const router = new VueRouter({
            routes: [
                { path: '/', redirect: '/stopwatch' },
                { path: '/stopwatch', component: Components.stopwatch },
                { path: '/timer', component: Components.timer }
            ]
        });

        new Vue({
            el: "#app",
            router: router
        });
    </script>
</body>
</html>