<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Online stopwatch to start, stop or reset time while storing laps" />
    <title>WebTimer | Stopwatch</title>
    <link rel="icon" href="/resources/images/favicon.svg" />
</head>
<body>
    <link href="/externals/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/css/multiple-select.min.css" rel="stylesheet" />
    <link href="/resources/css/common.css" rel="stylesheet" />

    <script src="/externals/jquery.slim.min.js"></script>

    <script src="/externals/bootstrap.min.js"></script>
    <script src="/resources/scripts/multiple-select.min.js"></script>
    <script src="/externals/vue.js"></script>
    <script src="/externals/vue-router.min.js"></script>
    
    <script src="/app.js" defer></script>

    <div id="app" />
    
    <footer class="footer">
        <div class="container text-left text-muted">
            <div><small>© 2018 <a target="_blank" href="https://github.com/Jahn08">Jahn08</a></small></div>
            <div>
                <small>
                    Icons made by
                    <a target="_blank" rel="nofollow" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
                    <a target="_blank" rel="nofollow" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by
                    <a target="_blank" rel="nofollow" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a>
                </small>
            </div>
        </div>
    </footer>
</body>
</html>
