:root {
    --stage-active-background-color: #007bff;
    --stage-active-color: #FFFFFF;
    --stage-info-left-position: 5vw;
}

.switch {
    position: absolute;
    font-size: large;
    font-weight: bold;
}

.switch:hover {
    cursor: pointer;
}

.upperSwitch:hover {
    box-shadow: 3px 3px 9px 0px;
}

.belowSwitch:hover {
    box-shadow: 3px 0px 9px 0px;
}

.upperSwitch {
    top: 0;
}

.belowSwitch {
    bottom: 0;
}

.lapSection {
    height: 40vh;
    overflow-y: scroll;
}

.lapSection > ul {
    list-style: none;
}

.slightlyTransparent {
    opacity: 0.6;
}

.preserveSpaces {
    white-space: pre-wrap;
}

@media only screen and (max-width: 991px) {
    .fontLg {
        font-size: 4em;
    }

    .switch {
        width: 7%;
        height: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fontLg {
        font-size: 6em;
    }

    .switch {
        width: 8%;
        height: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .fontLg {
        font-size: 8em;
    }

    .switch {
        width: 9%;
        height: 30px;
    }

    .stages span {
        font-size: large !important;
    }

    .stageDescription {
        font-size: x-large !important;
    }
}

.stageDescription {
    position: absolute;
    font-size: large;
    top: auto;
    left: var(--stage-info-left-position);
}

.stages {
    position: absolute;
    display: flex;
    bottom: 0;
    left: var(--stage-info-left-position);
}

.stages span {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-small;
}

.stages.disabled span {
    opacity: 0.8;
}

.stages .active {
    background-color: var(--stage-active-background-color);
    color: var(--stage-active-color);
}

.stages:not(.disabled) span:hover {
    cursor: pointer;
    background-color: var(--stage-active-background-color);
    color: var(--stage-active-color);
}

select {
    max-width: 500px;
}

.fb5h0k {
    height: 24px;
    margin: 8px;
}

.fb5h0m {
    height: 24px;
    width: 24px;
}

.fbXvm .fb5h0i {
    max-width: 272px;
    min-width: initial;
    width: auto;
}

.fb5h0i {
    height: 40px;
}

.fb5f0n {
    table-layout: fixed;
    width: 100%;
}

table.fbBtnTable:focus {
    outline: none !important;
}

table.fbBtnTable {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    outline: none;
}

table.fbBtnTable tr {
    outline: none;
}

table.fbBtnTable td {
    outline: none;
}

.fbBtn {
    background-color: #4267b2;
    border-radius: 4px;
    color: #fff;
    border: none;
}

.ms-choice {
    border: none;
    outline: none !important;
}

.ms-choice.disabled {
    border: none !important;
    background-color: white !important;
}

.ms-choice > span {
    position: relative;
}

#app {
    min-height: 500px;
}

.footer {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 60px;
}
